# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/

# Dependências do pipenv ou poetry
Pipfile.lock
poetry.lock

# Arquivos de configuração do IDE
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Banco de dados
*.sqlite3

# Arquivos de configuração específicos do FastAPI
*.db
